table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 800%;
    table-layout: fixed;
    padding: 0; margin: 0; 
       
  }
  .tableclass{    
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      padding: 0; margin: 0; 
         
    }
  
  table thead tr td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(164, 178, 224);
    color: white;
    font-weight: 800;
    padding: 0; margin: 0; 
  }
  
  table td {
    border: 1px solid rgb(79, 82, 78);
    padding: 18px;
    color: rgb(73, 88, 48);
    padding: 0; margin: 0; 
  }
  
  table tr:nth-child(even){background-color: #d7ceec;}
  
  table tr:hover {background-color: rgb(253, 245, 246);}
   button {
        display: inline-block;
        font-size: .825em;
         margin-top: 9px;
         text-decoration: none;
         font-weight: 800;
         margin-left: 14px;
         width:35px;
         height: 47px;
        padding: 1px 80px 1px 50px;
         background-color: rgb(13, 34, 34);
         background-image: linear-gradient(grey,rgb(52, 213, 235));
         border-radius: 3px;
         color: black;
         text-shadow: 0 1px 1px rgba(255,255,255,.7);
         box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
     }   
    