
<table cellspacing=0 >
<tr>
<!--<span  appHighlight [styleObj] = "styleObj" [defultStyleObj]="defaultStyleObj">-->
  <td>   {{student.id}} </td>

  <td> {{student.firstName|uppercase}} </td> 
  <td>   {{student.lastName |uppercase}} </td> 
        <td>   {{student.studentId}} </td>
  <td> {{student.address}}</td> 
  <td> {{student.mobileNo}} </td>
   <td> {{student.email}}</td>
   <td>
    <button (click)= onSelectStudent(student)> selected user</button></td>
<!--</span>-->
    </tr>
</table>
