/*
:host {
    border: 10px solid blueviolet;
    padding: 10px;
    margin: 10px;
    background-color:red;
    display: block;
}

:host button {
    background-color: hsla(202, 50%, 40%, 0.521);
}*/
body{
    background-color: aqua;
    margin: 0px;
    font-family: Verdana, Georgia, serif;
    font-size: 14px;
    }
    
    #header{
        background-color: #5c755e;
        margin:10px;
        height: 80px;
        border-radius: 5px;
    }
    /*
    #navbar{
        background-color: #5c755e;
        margin:10px;
        height: 35px;
        border-radius: 5px;
    }*/
    #navbar ul{
        padding :5px;
        list-style-type: none;
        text-align: left;
        background-color: lightblue;
        margin: 10px;
        border-radius: 5px;
    }
    #navbar ul li{
        display: inline;
    }
    
    #navbar ul li a{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: green;
        padding: .2em 1em;
    
        background-color: lightblue;
    }
    #navbar ul li a:hover {
        background-color:lightseagreen;
        color:lightsteelblue;
    
    
    }
    ul li{
        display: block;
    }
    .main{
        background-color: #e5e4d7;
        margin-left: 10px;
        margin-right :10px;
        margin-bottom: 10px;
        margin-top: 10ox;
        border-radius: 5px;
        padding: 20px;
        font-size: 110%;
    }
    h1{
        font-size: 120%;
        color: #ce282e;
    }
    h2{
        font-size: 120%;
        color: mediumblue;
    }
    h3{ 
        font-size: 250%;
        text-align: center;
        color: #e5e4d4;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        position: relative;
        top:50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform:translateY(-50%);
    }
    
    
    #footer{
        background-color: #5c755e;
        margin:10px;
        height: 60px;
        border-radius: 5px;
        clear:both;
    }

/*
  table, th, td { 
      border: 1px solid black; text-align:center;
    }  
    th, td { 
      padding: 10px; background-color:whitesmoke;  width:150px;
    }
*/
/*
table {
    border-collapse: collapse;
    border: 2px solid black;
  }
  
   table th {
    border: 2px solid black;
    background-color:lightblue;
    font-size: 120%;
    text-align: center;
  }
  table td{
    border: 2px solid black; 
  }*/
  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 105%;
    table-layout: fixed;
  }
  table thead tr td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(164, 178, 224);
    color: white;
    font-weight: 800;
    table-layout: auto;
  }
  .fancy {
    border: 1px solid #000000;
  }
  
  table td {
    border: 1px solid rgb(79, 82, 78);
    padding: 8px;
    width:100px;
    color: rgb(73, 88, 48);
    table-layout: fixed;
  }
  
  table tr:nth-child(even){background-color: #d7ceec;}
  
  table tr:hover {background-color: rgb(253, 245, 246);}
   button {
        display: inline-block;
        font-size: .825em;
         margin-top: 9px;
         text-decoration: none;
         font-weight: 800;
         margin-left: 14px;
         width:42px;
         height: 47px;
         padding: 2px 110px 2px 73px;
         background-color: rgb(13, 34, 34);
         background-image: linear-gradient(grey,rgb(52, 213, 235));
         border-radius: 3px;
         color: black;
         text-shadow: 0 1px 1px rgba(255,255,255,.7);
         box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
     }   

     .headerstyle{       
        font-size: 120%;
        color: #ce282e;
        margin-left: 3%;
     }


    
     