<h2> This is Reactive driven Signup  Form</h2>
<form [formGroup]="registerForm"  (ngSubmit)="submit()"> 
    <input type="text" name="FirstName" placeholder="Enter First name" formControlName="FirstName"/>
    <div *ngIf="submitted && registerForm.controls.FirstName.errors" class="invalidField">
        <p *ngIf= "registerForm.controls.FirstName.errors.required"><b>First Name required</b></p>
        <p *ngIf="registerForm.controls.FirstName.errors.minlength"><b>First Name should have minimum 6 characters</b></p>
        <p *ngIf="registerForm.controls.FirstName.errors.maxlenghtError"><b>Max length should be greater than 10</b></p>
    </div>   
    <input type="text" name="lastName" placeholder="Enter Last name" formControlName="lastName"/>
    <div *ngIf="submitted && registerForm.controls.lastName.errors" class="invalidField">
        <p *ngIf= "registerForm.controls.lastName.errors.required"><b>last Name required</b></p>
        <p *ngIf="registerForm.controls.lastName.errors.minlength"><b>last name should have minimum 6 characters</b></p>
        <p *ngIf="registerForm.controls.lastName.errors.maxlenghtError"><b>Max length should be greater than 10</b></p>
    </div>  
    <input type="text" name="email" placeholder="Enter EmailId" formControlName="email"/>
    <div *ngIf="submitted && registerForm.controls.email.errors" class="invalidField">
        <p *ngIf= "registerForm.controls.email.errors.required"><b>email required</b></p>
        <p *ngIf="registerForm.controls.email.errors.minlength"><b>email should have minimum 6 characters</b></p>
        <p *ngIf="registerForm.controls.email.errors.maxlenghtError"><b>Max length should be greater than 10</b></p>
    </div>  

    <input type="mobile" name="mobile" placeholder="Enter Mobile Number"  formControlName="mobile"/>
    <div *ngIf="submitted && registerForm.controls.mobile.errors" class="invalidField">
        <p *ngIf= "registerForm.controls.mobile.errors.required"><b>mobile is required</b></p>
        <p *ngIf= "registerForm.controls.mobile.errors.minlength"><b>mobile should have minimum 100 characters</b></p>
    </div>
    
    <input type="address" name="address" placeholder="Enter Address"  formControlName="address"/>
    <div *ngIf="submitted && registerForm.controls.address.errors" class="invalidField">
        <p *ngIf= "registerForm.controls.address.errors.required"><b>address is required</b></p>
        <p *ngIf= "registerForm.controls.address.errors.minlength"><b>address should have minimum 100 characters</b></p>
    </div><br/>
    
    Gender <input type="radio" formControlName="gender" value="male"> male
    <input type="radio" formControlName="gender" value ="female"> Female
    <div *ngIf="submitted && registerForm.controls.address.errors" class="invalidField">
        <p *ngIf= "registerForm.controls.address.errors.required"><b>address is required</b></p>
        <p *ngIf= "registerForm.controls.address.errors.minlength"><b>address should have minimum 100 characters</b></p>
    </div>

    <div *ngFor="let data of Data; let i=index">
        <label>
          <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
          {{data.name}}
        </label>
      </div>
     
      <!-- <p class="invalidField" *ngIf="this.registerForm.controls['checkArray'].errors?.required">
        Checkbox is required, select atleast one value.
      </p> -->

    <select name="role"  formControlName="role">
        <option value="1">User</option>
        <option value="2">Admin</option>
    </select>
    <div *ngIf="submitted && registerForm.controls.role.errors" class="invalidField">
        <p><b>Role is required</b></p>
    </div>
    
    <button type="submit">submit</button>
</form>
