<div class="header">
    <h1>Angular Forms</h1>
</div>
<div class="split left">
    <div class="centered">
        <!-- <button (click)="toggle()" id="bt">
            {{buttonName}}
        </button>        -->

        <app-reactive-form></app-reactive-form>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <app-template-form></app-template-form>
    </div>
</div>