/* Split the screen in half */
.split {
    height: 70%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 3;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(240, 234, 234);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(245, 243, 243);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .header {
    padding: 0px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

  * {box-sizing: border-box}

  /* Set height of body and the document to 100% */
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    margin-top: -3%;
    height: 42px;
    line-height: 40px;
    background: #f9f9f9;
    color: #888;
    font-size: .857em;
    border-bottom: 1px solid #f5f5f5;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: red;}
  #News {background-color: green;}
  #Contact {background-color: blue;}
  #About {background-color: orange;}