<h2> This is Template driven Form</h2>
<form #loginRef="ngForm" (ngSubmit)="submit(loginRef)">   
     <div class="container">
    <input type="text" name="userName" placeholder="Enter user name" [(ngModel)]="model.userName" #userName="ngModel" required minlength="3" pattern="[a-z]*" />
    <div *ngIf="submitted && userName.invalid" class="invalidField">
    <p *ngIf= "userName.errors.required"><b>User name required</b></p>
    <p *ngIf= "userName.errors.minlength"><b>User name should have minimum length 3 characters</b></p>
    <p *ngIf= "userName.errors.pattern"><b>User name should have alphanumeric only</b></p>  
    </div>
    <input type="password" name="password" placeholder="enter password" [(ngModel)]="model.password" #password="ngModel" required minlength="4" />
    <div *ngIf="submitted && password.invalid" class="invalidField">
        <p *ngIf= "password.errors.required"><b>password required</b></p>
        <p *ngIf= "password.errors.minlength"><b>password should have minimum length 4 characters</b></p>       
    </div>
    <select name="role" [(ngModel)]="model.role"  #role="ngModel" required>
        <option value="1">User</option>
        <option value="2">Admin</option>
    </select>
        <div *ngIf="submitted && role.invalid" class="invalidField">
            <p *ngIf= "role.invalid"><b>role required</b></p>
         </div>   
       
    <button type="submit">submit</button>
</div>
    <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>

